importClassesFrom("sp",
  "SpatialPointsDataFrame"
)

import(utils, 
  methods,
  ggplot2
)

importFrom(graphics,
  hist
)

importFrom(stats, 
  cor, 
  quantile, 
  runif,
  complete.cases
) 
  
importFrom(grid,
           grid.layout,
           grid.newpage,
           viewport,
           pushViewport
)

importClassesFrom("raster",
  "Raster"
)

importFrom(scales,
  percent
)

importFrom(
  plyr,
    alply,
    ddply,
    dlply
)

importFrom(
  raster, 
    raster,
    rasterToPoints,
    stack,
    extract,
    writeRaster
)

importFrom(
  reshape2, 
    melt
)

importFrom(
  cluster,
    daisy
)

exportMethods(clhs)
S3method(plot, cLHS_result)
exportPattern("^[^\\.]")