importClassesFrom("sp",
  "SpatialPointsDataFrame"
)

import(utils, ggplot2, grid)

importClassesFrom("raster",
  "Raster"
)

importFrom(scales,
  percent
)

importFrom(
  plyr,
    ddply,
    dlply
)

importFrom(
  raster, 
    raster,
    rasterToPoints,
    stack
)

importFrom(
  reshape2, 
    melt
)

exportMethods(clhs)
S3method(plot, cLHS_result)
exportPattern("^[^\\.]")